{
  "presets": [
    ["@babel/env", {
      "loose": true
    }],
    ["@babel/typescript", {
      "loose": true
    }]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "regenerator": true
    }],
    ["@babel/plugin-proposal-private-property-in-object", { "loose": false }],
    ["@babel/plugin-proposal-private-methods", { "loose": false }],
    "@babel/plugin-proposal-class-properties"
  ]
}
